.navbar-top {
    width: 100%;
    background-color: #0066ff !important;
}

.navbrand {
    padding-top: 12px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    color: blanchedalmond;
}